
body {
  background-color: #f1f1f1;
  margin: 5%;
}

#title1 {
  text-align: center;
}

#title2 {
  text-align: center;
}

#title3 {
  text-align: center;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.chart {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 50px;
  margin-left: 40px;
}


.modebar {
  display: none !important;
}

.value_indicator {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.value_and_indicator {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
  margin-top: -10px;
}

.monthly_difference_value {
  display: flex;
  flex-direction: row;
}

.monthly_pct_change {
  display: flex;
  flex-direction: row;
}

.difference_value_row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}


.text_previous_month {
  display: flex;
  flex-direction: row;
  margin-left: 65px;
  margin-top: -12px;
}

.difference_value_column {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.monthly_value {
  display: flex;
  flex-direction: row;
}
.card_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.card_size {
  background-color: #ffffff;
  width: 260px;
  height: 160px;
}


.text_graph_column {
  display: flex;
  flex-direction: column;
  position: relative;
  
  
  
  
}

.create_container2 {
  align-items: center;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 1px 1px 1px 1px #66796e;
}

.dcc_compon {
  margin: 0 auto;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

.rc-slider-track {
  background-color: rgba(218, 156, 23, 0.493);
}

.rc-slider-dot-active {
  border-color: #f18c24;
  border: solid 2px #f18c24;
}

.rc-slider-handle {
  background-color: #f18c24;
  border-color: #f18c24;
}

.rc.slider-handle:hover {
  border-color: #f18c24;
}

.rc.slider-handle-active:active {
  border-color: #f18c24;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f18c24 !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00622b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00622b;
}




